<div class="container">

  <% var userArr = [] %>
  <% var count = 0 %>
  <% allZines.forEach(function(zine) { %>
    <% userArr.push(zine.user) %>
  <% }) %>

  <% userArr.forEach(function(user) { %>
    <% if(user === loggedInUser) { %>
      <% count++ %>
    <% } %>
  <% }) %>

  <% if(allZines.length === 0 || count === 0) { %>
    <h1>You do not have any zines at the moment, would you like to start your first zine?</h1>
    <br/>

      <a class="btn btn-success" href=<%= "/zines/new" %>>Yes!</a>
      <a class="btn btn-warning" href=<%= "/photos" %>>Maybe later</a>

  <% } else { %>
    <h1>My zines</h1>
    <div class="row">
    <% allZines.forEach(function(zine) { %>
      <% if(zine.user === loggedInUser) { %>

        <h3><%= zine.name %></h3>
        <a class="pull-right" href=<%= "/zines/" + zine._id %>>View</a>
      <% } %>
    <% }) %>
    </div>
    <br>
    <a class="btn btn-success" href=<%= "/zines/new" %>>Create a new zine</a>
  <% } %>

</div>
