<div class="container">
  <h1><%=singleZine.name%></h1>
  <form class="form-inline" method="POST" action=<%= "/zines/" + singleZine._id + "?_method=DELETE" %>>
    <a class="btn btn-success" href=<%= "/zines/" + singleZine._id + "/edit"%>>Edit</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  <!--<h1><%=singleZine%></h1>-->

  <div class="col-md-12">
    <div id="myGrid" class="grid-padding-singleZine">
      <%singleZine.photo.forEach(function(photo) {%>
        <div class="col-md-4 col-sm-4 padding-right-zero-singleZine">
          <img src="<%=photo.url%>" width="300px" height="auto" />
          <input type="checkbox" class="checkbox" id="check1" />
        </div>
      <%})%>

    </div>
  </div>

</div>
