<div class="container">
  <h1><%=singleZine.name%></h1>
  <a class="btn btn-success" href=<%= "/zines/" + singleZine._id + "/edit"%>>Edit</a>
  <form class="deleteForm" method="POST" action=<%= "/zines/" + singleZine._id + "?_method=DELETE" %>>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  <!--<h1><%=singleZine%></h1>-->

<div class="row">
    <div class="col-md-4">
      <div class="row">
        <% for (var i = 0 ; i < 3; i++) { %>
          <div width="200px" height="100px" style="border: solid black 2px">
            <p>print</p>
          </div>
        <% } %>
      </div>
    </div>
</div>

  <%singleZine.photo.forEach(function(photo) {%>
    <img src="<%=photo.url%>" alt="picture not available" width="300px" height="auto">
  <%})%>
  <br>
</div>
